<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="box">
  <xacro:arg name="name" default = "box" />
  <xacro:arg name="l" default = "1" />
  <xacro:arg name="w" default = "1"/>
  <xacro:arg name="h" default = "1" />
  <xacro:arg name="mass" default="1000" /> 
  <!-- <xacro:property name="volume" value="$(arg l) * $(arg w) * $(arg h)" />
  <xacro:property name="mass" value="$(arg density) * ${volume}" /> -->
  
  <link name="$(arg name)">
    <static>true</static>
    <collision>
      <geometry>
        <box size="${0.8*$(arg l)} ${0.8*$(arg w)} $(arg h)"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <box size="$(arg l) $(arg w) $(arg h)"/>
      </geometry>
    </visual>
    <inertial>
      <mass value="$(arg mass)"/>
      <inertia ixx="${0.083*$(arg mass)*($(arg w)*$(arg w)+$(arg h)*$(arg h))}" ixy="0" ixz="0" iyy="${0.083*$(arg mass)*($(arg l)*$(arg l)+$(arg h)*$(arg h))}" iyz="0" izz="${0.083*$(arg mass)*($(arg l)*$(arg l)+$(arg w)*$(arg w))}"/>
    </inertial>
  </link>
</robot>