<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="box">
  <xacro:arg name="name" default = "box" />
  <xacro:arg name="l" default = "1" />
  <xacro:arg name="w" default = "1"/>
  <xacro:arg name="h" default = "1" />
  <xacro:arg name="pattern" default=""/>
  <xacro:property name="path" value="/home/prasun/Aerialist/aerialist/resources/simulation/models/big_box/meshes/big_box_"/>
  <xacro:property name="extension" value=".dae"/>
  <link name="$(arg name)">
    <static>false</static>
    <collision>
      <geometry>
        <box size="$(arg l) $(arg w) $(arg h)"/>
      </geometry>
      <!-- <origin xyz="${-$(arg l)/2} ${-$(arg w)/2} ${$(arg h)/2}"/> -->
    </collision>
    <visual>
      <geometry>
        <!--<box size="$(arg l) $(arg w) $(arg h)"/>-->
        <mesh filename = "${path}$(arg pattern)${extension}" scale="1.0 1.0 1.0"/>
      </geometry>
      <!-- <origin xyz="${-$(arg l)/2} ${-$(arg w)/2} ${$(arg h)/2}"/> -->
    </visual>
    <inertial>
      <mass value="1"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>
</robot>