<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="box">
  <xacro:arg name="name" default = "box" />
  <xacro:arg name="l" default = "1" />
  <xacro:arg name="w" default = "1"/>
  <xacro:arg name="h" default = "1" />
  <link name="$(arg name)">
    <static>true</static>
    <collision>
      <geometry>
        <box size="$(arg l) $(arg w) $(arg h)"/>
      </geometry>
      <!-- <origin xyz="${-$(arg l)/2} ${-$(arg w)/2} ${$(arg h)/2}"/> -->
    </collision>
    <visual>
      <geometry>
        <box size="$(arg l) $(arg w) $(arg h)"/>
      </geometry>
      <!-- <origin xyz="${-$(arg l)/2} ${-$(arg w)/2} ${$(arg h)/2}"/> -->
    </visual>
    <inertial>
      <mass value="1"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>
</robot>