<launch>
	<node name="disparity_image_listener" type="get_disparity_image.py" pkg="intermediate_image_save" />
 	<node name="histogram_image_listener" type="get_histogram_image.py" pkg="intermediate_image_save" />
 	<node name="raw_image_listener" type="get_raw_image.py" pkg="intermediate_image_save" />
</launch>

