<?xml version="1.0" ?>
<sdf version="1.6">
  <model name="wind_plugin_model">
    <static>true</static>
    <link name="link"/>
    <plugin name="wind_plugin" filename="libgazebo_wind_plugin.so">
      <windVelocityMean>${wind_velocity_mean}</windVelocityMean>
      <windVelocityMax>${wind_velocity_max}</windVelocityMax>
      <windVelocityVariance>${wind_velocity_variance}</windVelocityVariance>
      <windDirectionMean>${wind_direction_mean}</windDirectionMean>
      <windDirectionVariance>${wind_direction_variance}</windDirectionVariance>
      <windGustStart>${wind_gust_start}</windGustStart>
      <windGustDuration>${wind_gust_duration}</windGustDuration>
      <windGustVelocityMean>${wind_gust_velocity_mean}</windGustVelocityMean>
      <windGustVelocityMax>${wind_gust_velocity_max}</windGustVelocityMax>
      <windGustVelocityVariance>${wind_gust_velocity_variance}</windGustVelocityVariance>
      <windGustDirectionMean>${wind_gust_direction_mean}</windGustDirectionMean>
      <windGustDirectionVariance>${wind_gust_direction_variance}</windGustDirectionVariance>
      <windPubTopic>world_wind</windPubTopic>
    </plugin>
  </model>
</sdf>
