<?xml version="1.0"?>
<sdf version="1.6"
     xmlns="http://www.gazebosim.org/sdf"
     xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Arguments that can be overridden -->
  <xacro:arg name="velocity_mean" default="4.0"/>
  <xacro:arg name="velocity_max" default="20.0"/>
  <xacro:arg name="velocity_variance" default="0.0"/>
  <xacro:arg name="direction" default="1 0 0"/>
  <xacro:arg name="direction_variance" default="0.0"/>
  <xacro:arg name="gust_start" default="0"/>
  <xacro:arg name="gust_duration" default="0"/>
  <xacro:arg name="gust_velocity_mean" default="0"/>
  <xacro:arg name="gust_velocity_max" default="20.0"/>
  <xacro:arg name="gust_velocity_variance" default="0"/>
  <xacro:arg name="gust_direction" default="1 0 0"/>
  <xacro:arg name="gust_direction_variance" default="0"/>

  <model name="wind_plugin_model">
    <static>true</static>
    <link name="link"/>
    <plugin name="wind_plugin" filename="libgazebo_wind_plugin.so">
      <frameId>base_link</frameId>
      <robotNamespace/>
      <windVelocityMean>$(arg velocity_mean)</windVelocityMean>
      <windVelocityMax>$(arg velocity_max)</windVelocityMax>
      <windVelocityVariance>$(arg velocity_variance)</windVelocityVariance>
      <windDirectionMean>$(arg direction)</windDirectionMean>
      <windDirectionVariance>$(arg direction_variance)</windDirectionVariance>
      <windGustStart>$(arg gust_start)</windGustStart>
      <windGustDuration>$(arg gust_duration)</windGustDuration>
      <windGustVelocityMean>$(arg gust_velocity_mean)</windGustVelocityMean>
      <windGustVelocityMax>$(arg gust_velocity_max)</windGustVelocityMax>
      <windGustVelocityVariance>$(arg gust_velocity_variance)</windGustVelocityVariance>
      <windGustDirectionMean>$(arg gust_direction)</windGustDirectionMean>
      <windGustDirectionVariance>$(arg gust_direction_variance)</windGustDirectionVariance>
      <windPubTopic>world_wind</windPubTopic>
    </plugin>
  </model>
</sdf>
