<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="box">
  <xacro:arg name="name" default = "box" />
  <xacro:arg name="l" default = "1" />
  <xacro:arg name="w" default = "1"/>
  <xacro:arg name="h" default = "1" />
  <xacro:arg name="pattern" default=""/>
   <xacro:property name="path" value="/home/prasun/Downloads/Test-Aerialist/Aerialist/aerialist/resources/simulation/models/big_box/meshes/big_box_"/>
<!--  <xacro:property name="path" value="/src/aerialist/aerialist/resources/simulation/models/big_box/meshes/big_box_"/>-->
  <xacro:property name="extension" value=".dae"/>
  <link name="$(arg name)">
    <static>true</static>
    <collision>
      <geometry>
        <box size="$(arg l) $(arg w) $(arg h)"/>
      </geometry>
      <!-- <origin xyz="${-$(arg l)/2} ${-$(arg w)/2} ${$(arg h)/2}"/> -->
    </collision>
    <visual>
      <geometry>
        <mesh filename = "${path}$(arg pattern)${extension}" scale="6.0 6.0 10.0"/>
        <!-- <box size="$(arg l) $(arg w) $(arg h)"/> -->
      </geometry>
      <!-- <origin xyz="${-$(arg l)/2} ${-$(arg w)/2} ${$(arg h)/2}"/> -->
    </visual>
    <inertial>
      <mass value="100"/>
      <inertia ixx="1088.0" ixy="0.0" ixz="0.0" iyy="550.0" iyz="0.0" izz="1088.0"/>
    </inertial>
  </link>
</robot>