apiVersion: v1
kind: Pod
metadata:
  name: avoid-k8s
  labels:
    {}

spec:
  volumes:
    - configMap:
        defaultMode: 420
        name: k8s-config
      name: vol-k8s-conf
  containers:
    - imagePullPolicy: Always
      name: init
      image: skhatiri/aerialist:k8s
      stdin: true
      stdinOnce: false
      command:
#      command:
#         - /bin/bash
#         - -c
#         - /bin/sleep 10 && kubectl exec -it $HOSTNAME -c sim -- /bin/bash -c "$(COMMAND) && pkill bash"
#      command: ["/bin/bash"]
#      args: ["-c","python3 aerialist exec --test samples/tests/mission1-local.yaml"]
      env:
        - name: COMMAND
          value: "python3 aerialist --help"
      volumeMounts:
        - mountPath: /root/.kube/config
          name: vol-k8s-conf
          readOnly: true
          subPath: k8s-config.yaml
      tty: true
      resources:
        limits:
          cpu: 100m
          memory: 250Mi
        requests: {}
    - imagePullPolicy: Always
      name: sim
      image: prasun20/aerialist-test
      stdin: true
      stdinOnce: true
      command:
      tty: true
      env:
        - name: COMMAND
          value: "python3 aerialist --help"
        - name: WEBDAV_HOST
          valueFrom:
            secretKeyRef:
              name: webdav
              key: host        
        - name: WEBDAV_ROOT
          valueFrom:
            secretKeyRef:
              name: webdav
              key: root               
        - name: WEBDAV_USER
          valueFrom:
            secretKeyRef:
              name: webdav
              key: user           
        - name: WEBDAV_PASS
          valueFrom:
            secretKeyRef:
              name: webdav
              key: pass
      resources:
        requests:
          cpu: 6000m
          memory: 2000Mi
        limits:
          cpu: 6000m
          memory: 4000Mi
  affinity:
  imagePullSecrets:
    - name: dockerhub
  initContainers:
  restartPolicy: Never
